[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyyaml = "*"
jieba = "*"
wordcloud = "*"
matplotlib = "*"
python-dotenv = "*"
langdetect = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3"

[scripts]
start = "python __main__.py"
